body {
  background-color: #171717;
}
.navbar-custom {
  background-color: #171717;
}
#logo {
  color: white;
  font-size: 2em;
  font-family: "Poppins", sans-serif;
  letter-spacing: 6px;
}
.nav-link {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}
.nav-link:hover {
  color: #9a02ec;
}
.nav-link:focus {
  color: #9a02ec;
}
.line {
  width: 100%;
  height: 6px;
  background-color: white;
  border-radius: 1em;
  transition: 0.25s;
}
.line:first-child {
  width: 50%;
  transform-origin: left;
}
.line:nth-child(2) {
  width: 100%;
}
.line:nth-child(3) {
  width: 50%;
  align-self: flex-end;
  transform-origin: right;
}
#hamburguer {
  width: 50px;
  height: 50px;
  padding: 0;
  border: 0;
  transition: 0.33s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/**************click****************/
#hamburguer.activated .line:nth-child(2) {
  transform: rotate(-45deg);
}
#hamburguer.activated .line:first-child {
  transform: rotate(45deg) translateX(10px) translateY(-2px);
}
#hamburguer.activated .line:nth-child(3) {
  transform: rotate(45deg) translateX(-10px) translateY(2px);
}
/**********************************/
/* #banner{
    height: 56em;
}
#imgme{
    position: absolute;
    height: 70em;
    z-index: -2;
    filter: grayscale(0.8);
}
#front-end{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 3em;
    height: 2em;
    padding-left: 0.5em;    
    margin-top: 0.5em;
}

#presentation{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 5em;
    color: white;
    background: linear-gradient(0deg, rgba(97,0,148,1) 0%, #171717 100%);
    padding-right: 4.5em;
    padding-left: 0.2em;
    padding-top: 4em;
    padding-bottom: 0.2em;
    z-index: 3;
    box-shadow: 22px 22px 20px rgb(32, 32, 32);
} */
#aboutme {
  margin-top: 7em;
  height: 50em;
}
#description {
  border-radius: 1em;
  padding: 1em;
  color: rgb(141, 141, 141);
}
#profile {
  z-index: 5;
  position: absolute;
  width: 25em;
  height: 25em;
  margin-top: 2em;
  margin-left: 2em;
}
.profileback {
  background: #610094;
  height: 29em;
  width: 15em;
  z-index: -1;
  position: absolute;
}
.wrappertarjetas {
  display: flex;
  justify-content: space-around;
  margin-top: 6em;
}
.tarjeta {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 5em;
  height: 13em;
  width: 13rem;
  background: linear-gradient(
    80deg,
    rgba(201, 18, 141, 1) 3%,
    rgba(13, 250, 255, 1) 31%,
    rgba(201, 18, 141, 1) 61%,
    rgba(13, 250, 255, 1) 100%
  );
  background-size: 400% 400%;
  animation: animated 4s linear 1s infinite running;
  border-radius: 1.5em;
  padding: 2em;
}

@keyframes animated {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.tech {
  background-color: #fcfcfc;
  padding: 2em;
  height: 13em;
  width: 13em;
  border-radius: 1.5em;
  transition: 0.5s;
}
.tech:hover {
  transform: translateX(-20px) translateY(-20px);
}
h2 {
  text-align: center;
  font-size: 4.2em;
  font-family: "Poppins", sans-serif;
  color: #fcfcfc;
  margin-bottom: 1em;
}
h3 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 3.2em;
  color: #fcfcfc;
  margin-top: 1em;
}
#speech {
  font-size: 1.6em;
  line-height: 2em;
}
#portfolio {
  margin-top: 7em;
}

.foto {
  height: 29em;
  width: 30em;
}
.underline {
  /* height: 0.1em;
    width: 100%;
    background-color: #8606ca;
    transition: all 1.5s ease-in-out; */
  display: inline-block;
  padding-bottom: 0.25em;
  position: relative;
  text-align: center;
  transition: all 1s ease-in-out;
}
.underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 0.1em;
  width: 100%;
  background: /* linear-gradient(90deg, #833ab4, #fd1d1d, #fcb045) */ linear-gradient(
    45deg,
    rgba(138, 6, 218, 1) 3%,
    rgba(0, 225, 255, 1) 31%,
    rgba(201, 18, 141, 1) 61%,
    rgba(13, 250, 255, 1) 100%
  );
  background-size: 400% 400%;
  animation: animated 3s ease-in-out infinite;
}
.hidden {
  transform: scaleX(0);
}
.show {
  transform: scaleX(1);
}
.hiddenC {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.showC{
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
}
.tarjeta:nth-child(2){
  transition-delay: 200ms;
}
.tarjeta:nth-child(3){
  transition-delay: 400ms;
}
.tarjeta:nth-child(4){
  transition-delay: 600ms;
}


.bootstrap-bg{
  background-color: #833ab4;
}


.webcard {
  overflow: hidden;
  padding: 0;
  margin: -1em;
  border-radius: 1em;
  position: relative;
  background-color: #833ab4;
  margin-top: 5em;
  height: 22em;
}
.webcard:hover .web-img {
  transform: scale(1.1);
  filter: blur(10px);
}
.web-img {
  border-radius: 1em;
  transition: 0.5s;
  position: absolute;
  z-index: 1;
}
.ontop {
  position: relative;
  z-index: 0;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
}
.ontopbu {
  margin: 2em auto 0 auto;
}
.webcard:hover .ontop {
  z-index: 2;
  opacity: 1;
}

.banner {
  background: url(img/background.jpg);
  background-size: cover;
  background-position: center;
  height: 50em;
  position: relative;
  z-index: 0;
}
#back {
  height: 50em;
  position: absolute;
  z-index: 1;
  filter: grayscale(0.5);
}
.image-banner {
  height: 50em;
}
#presentation {
  font-size: 6em;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: whitesmoke;
}
#cargo {
  font-size: 2.5em;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  color: whitesmoke;
}
#cv {
  background: none;
  border: 0.2em solid whitesmoke;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: whitesmoke;
  transition: all 0.5s;
}
#cv:hover {
  transform: scale(1.1);
}
#contact {
  margin-top: 6em;
}
/* #mail {
  text-decoration: none;
}
#mail h3 {
  color: #b81281;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#mail h3:hover {
  transform: rotate(3deg) scale(1.2);
  color: #f016a7;
}
.mailt{
  width: 30em;
} */
#mail{
  height: 8em;
  align-self: center;
}
#github{
  height: 8.8em;
}
.card-contact {
  height: 10em;
  width: 10em;
  border-radius: 100%;
  background-color: #fcfcfc;
  transition: 0.5s cubic-bezier(.32,1.72,.79,.57);
}
.card-contact:hover{
  transform: scale(1.1);
}
footer{
  background-color: #242424;
  height: 100%;
  width: 100%;
}
#foot-text{
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
  color: #fcfcfc;
}
#foot-img{
  height: 6.5em;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #presentation{
    font-size: 4.5em;
  }
  #profile{
    width: 21em;
    height: 21em;
  }
  .profileback{
    width: 13em;
    height: 25em;
  }
  .card-contact{
    width: 7em;
    height: 7em;
  }
  #github{
    width: 6.5em;
  }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #presentation{
    font-size: 5.5em;
  }
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #back{
    height: 20em;
  }
  #cargo{
    font-size: 2em;
  }
  #presentation{
    font-size: 5em;
  }
  .image-banner{
    height: 20em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #back{
    height: 36.4em;
  }
  #cargo{
    font-size: 2em;
  }
  #presentation{
    font-size: 5em;
  }
  .image-banner{
    height: 46em;
  }
 
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #back{
    height: 42em;
  }
  #cargo{
    font-size: 2.5em;
  }
  #presentation{
    font-size: 6em;
  }
  .image-banner{
    height: 50em;
  }
}
